<div class="bg-[#f8f9fa] border-2 border-black rounded-xl shadow-xl m-4 md:m-10 p-4">
    <div class="flex justify-center mb-7">
        <!-- <img class="w-48"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/MediaWiki-2020-logo.svg/1200px-MediaWiki-2020-logo.svg.png"
            alt=""> -->
        <img class="w-48"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Wikipedia-logo-v2-es.svg/1200px-Wikipedia-logo-v2-es.svg.png"
            alt="">
    </div>
    <!-- <p class="font-medium text-xl mb-10 my-3">La enciclopedia libre</p> -->
    <app-search (submitted)="onSearch($event)"></app-search>
    <ng-container *ngFor="let article of articles$ | async">
        <app-article [article]="article"></app-article>
    </ng-container>
</div>